@import url('https://fonts.googleapis.com/css?family=Exo|Gugi|Montserrat|Play|Roboto+Mono');

body{
    font-family: "Montserrat","Roboto Mono"
}

h1{
    font-family: "Play","Exo"
}
#navbar{
    background-color:#ccc;
    font-family: "Gugi","Play","Exo"
}